button.active {
  background: black;
  color: white;
}
div.active {
  display: block;
}
div.inactive {
  display: none;
}
div#resultOppoDiv.active {
  display: inline;
}
div#resultOppoDiv.inactive {
  display: none;
}
ul li{
  display: inline;
}
img {
  width: 100px;
}
strong {
  font-size: 32px;
}
